.develop-container {
  background-color: #eecb83;
  color: black;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.developClassA {
  color: black;
  font-family: Antapani-ExtraBold;
}

.titleMaster {
  font-family: Wavehaus;
  font-size: 28px;
}
.develop-container h1 {
  font-family: Antapani-ExtraBold;
  margin-bottom: 80px;
  color: black;
  letter-spacing: 2px;
}
.texto-contenedor h1 {
  margin-bottom: 20px;
  line-height: 50px;
}
.texto-contenedor p {
  text-align: justify;
  font-family: Wavehaus;
  font-size: 14px;
}
.imagen-contenedor img {
  height: 300px;
}
.imagen-contenedor {
  display: flex;
  align-items: center;
}
.card {
  width: 60%;
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.card2 {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  margin-bottom: 40px;
}

.card2:hover {
  transition: ease-in;
  transform: scale(1.1);
  transition-duration: 3s;
}
.card:hover {
  transition: ease-in;
  transform: scale(1.1);
  transition-duration: 3s;
}

.linksContainer {
  color: black;
  display: flex;
  flex-direction: column;
}
.linksContainer a:hover {
  color: rgb(0, 0, 0);
}

.linksContainer a {
  color: rgb(72, 72, 72);
}

@media (max-width: 576px) {
  .imagen-contenedor img {
    height: 150px;
  }
}

@media (max-width: 1166px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .card2 {
    flex-direction: column;
    align-items: center;
  }
}
