.photos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 550px);
  grid-template-rows: auto;
  width: 100%;
  gap: 3px;
  margin: 20px 0px 80px 0px;
  justify-content: center;
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery img {
  height: 550px;
}
.title-container {
  padding-top: 40px;
  text-align: center;
  color: var(--text);
  letter-spacing: 20px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
