.background-container {
  padding-top: 100px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.discordapp.com/attachments/701164137081733201/1012941575418040320/Reedit15-16-5-2.jpg");
  background-size: contain;
  background-attachment: fixed, scroll;
  background-position-y: -50px;
  background-position-x: center;
  background-repeat: no-repeat;
  line-height: 50px;
  text-shadow: rgba(0, 0, 0, 0.218) 2px 2px 10px;
}
.background-container h1 {
  font-size: 4rem;
}

.background-container h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.background-container h2 {
  letter-spacing: 7px;
  font-size: 3rem;
}
.background-container p {
  font-size: 1.5rem;
}
